<center><h2>All Pokemons</h2>

<% @pokemons.each do |pokemon| %>
  <p><a href="/pokemons/<%= pokemon.id %>">
  <%= pokemon.name %></p></a>
  <% end %>

<form action="pokemons/new" method="get">
<button>NEW POKEMON</a></button>
<br>



</form>
</center>
